* {
  background-color: #454545;
  color: white;
}

.App {
  text-align: center;
  background-color: #454545;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  pointer-events: none;
}

.App-header {
  background-color: #454545;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid #fff;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-content {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-right: 30px;
}

input,
textarea {
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}

.card span.user {
  text-decoration: underline;
  margin-right: 40px;
}

.btn-dark {
  background-color: #685393;
  border-color: #685393;
  border: 2px solid;
}

.btn-dark:hover {
  background-color: #fff;
  color: #685393;
  border: 3px solid #685393;
}
